

#inspirational{
    
    background-color: #a2aebb;
    padding-bottom: 10%;
}  

.number{
    background-color: #a2aebb;
}

#about{
    background-color: #a2aebb;
}

#services{
    
    background-color: #a2aebb;
    padding-top: 6%;
    padding-bottom: 10%;
}

.servi{
    margin-bottom: 7%;
}

.contactbg{
    
    padding-bottom: 7%;
    padding-top: 6%;
}

.c-item{
    height: 500px;
}

.c-img{
    height: 95%;
    
    
}

.icon{
    width: 120px;
    height: 180px;
}

.pw{
    width: 300px;
    margin: 0 auto;
}

.ins{
    margin-top: 5%;
    margin-bottom: 7%;
    font-family: source serif pro;
}



.about{
    margin-bottom: -70px;
       margin-top: 10%;
    margin-bottom: 2px;
    font-family: source serif pro;
    
    
}

.t-img{
    height: 260px;
    padding-top: 15px;
}

.a-img{
    height: 300px;
    border-radius: 150px;
    padding-top: -5px;
}

.a-col1{
    padding-top: 10%;
    padding-bottom: 10%;
}

.a-col2{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-right: 100px;
    
    
}

.c-card{
    height: 400px;  
}

.c-contact{
    background: no-repeat center center;
    background-size: cover;
    color: whitesmoke;
    width: 600px;
    
}

.color-overlay{
    min-height: 60vh;
    background-color: rgba(0,0,0,.5);
}

.nav-link {
    color: whitesmoke;
}

.n-nav, .footerbg {
    background-color: #f4f4f8;
    
}


.card-title{
    font-family: source serif pro;
}

.card-text{
    font-family: inria serif;
}

.about-text{
    font-family: inria serif;
    
}



*{
    scroll-behavior: smooth;
}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 30vh;
    }
}


 


  
