#inspirational{
    padding-bottom: 10%;
}  

#services{
    padding-top: 6%;
    padding-bottom: 10%;
}

.servi{
    margin-bottom: 7%;
}

.contactbg{
    padding-bottom: 7%;
    padding-top: 6%;
}


.section-header{
   
    font-family: source serif pro;
}

.h-1{
    font-family: source serif pro;
    font-size: 52px;
}

.blogheading{
    font-family: source serif pro;
}

.about{
    margin-top: 5%;
    font-family: source serif pro;      
}

.t-img{
    height: 260px;
    padding-top: 15px;
}

.a-img{
    height: 300px;
    border-radius: 150px;
  
}

.a-col1{
    padding-top: 10%;
    
}

.a-col2{
    padding-top: 10%;
   
    
}

.c-card{
    height: 400px;  
}



.color-overlay{
    min-height: 60vh;
    background-color: rgba(0,0,0,.5);
}

.hoverline {
   position: relative;
}

.hoverline::after {
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    content:'';
}

.hoverline:hover::after{
    opacity: 1;
}

.footerbg {
    background-color: #EEEEEE;
}


.card-title{
    font-family: source serif pro;
}

.card-text{
    font-family: inria serif;
}

.about-text{
    font-family: inria serif;
}

.hovertalk {
     position: relative;
}

.hovertalk::after {
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    content:'';
}

.hovertalk:hover::after{
    opacity: 1;
}


*{
    scroll-behavior: smooth;
}

.n-nav, .hero{
    background-color: #3A98B9;
}

.video, #about, #blog, .subtext, #contactme{
    background-color: #FFF1DC;
}

#services, #testimonial{
    background-color: #E8D5C4;
}

#testibody {
	display: grid;
	place-items: center;
	
    background-color: #E8D5C4;
}
.section-header{
    position: relative;
    
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    
}

.section-header span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}

.single-item{
    background: #fff;
    color: #111;
    padding: 15px;
    margin: 50px 15px;
}
.profile{
    margin-bottom: 30px;
    text-align: center;    
}
.img-area {
	margin: 0 15px 15px 15px;
}
.img-area img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 2px solid
}
.content{
    font-size: 18px;
}
.content p {
	text-align: justify;
}
.content p span {
	font-size: 48px;
	margin-right: 20px;
    color: blueviolet;
}

.bio  {
	font-family: 'Berkshire Swash', cursive;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: black
}

 


  
